In [59]:
# PyCity Schools Analysis
# This analysis looked at how school spending, size, and type affect student performance. We calculated important metrics like average maths and reading scores, and passing rates for different types of 
Independent schools have higher overall passing rates compared to government schools. Independent schools generally exhibit higher overall passing rates, which may be attributed to various factors such as better resources, more individualized attention, and possibly more rigorous academic programs.Independent schools usually have better scores in maths and reading compared to government schools. dependent schools perform better likely due to better funding, smaller class sizes, and different teaching methods. This helps their students achieve higher scores in exams compared to government schools.

SyntaxError: invalid syntax (3964083477.py, line 3)

In [60]:
import pandas as pd

# Step 1: Load data
schools_data = pd.read_csv(r"C:\Users\tadak\OneDrive\Desktop\Data analysis\work\Challenge\Module Challenge 4\Starter_Code\PyCitySchools\Panda-challenge\Resources\schools_complete.csv")
students_data = pd.read_csv(r"C:\Users\tadak\OneDrive\Desktop\Data analysis\work\Challenge\Module Challenge 4\Starter_Code\PyCitySchools\Panda-challenge\Resources\students_complete.csv")

# Step 2: Merge datasets
school_data_complete = pd.merge(students_data, schools_data, how="left", on=["school_name"])

## Local Government Area Summary

In [61]:
# Step 3: Calculate the Totals (Schools and Students)
school_count = school_data_complete['school_name'].nunique()
student_count = students_data['Student ID'].nunique()  

print(f"Total Schools: {school_count}")
print(f"Total Students: {student_count}")

# Step 4: Calculate the Total Budget
total_budget = schools_data['budget'].sum()

print(f"Total Budget: ${total_budget}")

Total Schools: 15
Total Students: 39170
Total Budget: $24649428

In [62]:
# Step 5: Calculate the Average Scores
average_maths_score = school_data_complete['maths_score'].mean()
average_reading_score = school_data_complete['reading_score'].mean()

print(f"Average Maths Score: {average_maths_score}")
print(f"Average Reading Score: {average_reading_score}")

Average Maths Score: 70.33819249425581
Average Reading Score: 69.98013786060761

In [63]:
area_summary_dict = {
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Maths Score": per_school_maths,
    "Average Reading Score": per_school_reading,
    "% Passing Maths": per_school_passing_maths,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
}

In [64]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[school_data_complete["maths_score"] >= 50].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100

passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 50].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_maths_and_reading_count = school_data_complete[
    (school_data_complete["maths_score"] >= 50) & 
    (school_data_complete["reading_score"] >= 50)
].count()["student_name"]
overall_passing_rate = passing_maths_and_reading_count / float(student_count) * 100

In [65]:
# Convert to DataFrame
area_summary = pd.DataFrame(area_summary_dict)

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
area_summary

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,"4,976","$3,124,928.00",628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,"1,858","$1,081,356.00",582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,"2,949","$1,884,411.00",639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,"2,739","$1,763,916.00",644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,"1,468","$917,500.00",625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,"4,635","$3,022,020.00",652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,"2,917","$1,910,635.00",655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,"4,761","$3,094,650.00",650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,"3,999","$2,547,363.00",637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,"1,761","$1,056,600.00",600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,"1,635","$1,043,130.00",638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,"2,283","$1,319,574.00",578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,"1,800","$1,049,400.00",583.0,72.047222,70.969444,91.777778,86.666667,79.722222

## School Summary

In [66]:
# Use the code provided to select the type per school from school_data
school_types = schools_data.set_index(["school_name"])["type"]

# Calculate the total student count per school from school_data_complete
per_school_counts = school_data_complete["school_name"].value_counts()

# Calculate the total school budget and per capita spending per school from schools_data
per_school_budget = schools_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores per school from school_data_complete
per_school_maths = school_data_complete.groupby("school_name")["maths_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [67]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
school_passing_maths = school_data_complete[school_data_complete["maths_score"] >= 50]
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50]

# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading = school_data_complete[
    (school_data_complete["maths_score"] >= 50) & 
    (school_data_complete["reading_score"] >= 50)
]

In [68]:
# Calculate the percentage pass rates per school
school_passing_maths = school_data_complete[school_data_complete["maths_score"] >= 50]
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50]
passing_maths_and_reading = school_data_complete[
    (school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)
]

per_school_passing_maths = school_passing_maths.groupby("school_name").count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby("school_name").count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_maths_and_reading.groupby("school_name").count()["student_name"] / per_school_counts * 100

In [69]:
per_school_summary_dict = {
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Maths Score": per_school_maths,
    "Average Reading Score": per_school_reading,
    "% Passing Maths": per_school_passing_maths,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
}

In [70]:
# Convert to DataFrame
per_school_summary = pd.DataFrame(per_school_summary_dict)

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

In [71]:
# Sort and show top five schools
top_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

In [72]:
# Sort and show bottom five schools
bottom_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

In [73]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["maths_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["maths_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["maths_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["maths_score"].mean()

# Combine series into single DataFrame
maths_scores_by_year = pd.DataFrame({
    "Year 9": year_nine_scores,
    "Year 10": year_ten_scores,
    "Year 11": year_eleven_scores,
    "Year 12": year_twelve_scores
})

# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

In [74]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["reading_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["reading_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["reading_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["reading_score"].mean()

# Combine series into a single DataFrame
reading_scores_by_year = pd.DataFrame({
    "Year 9": year_nine_scores,
    "Year 10": year_ten_scores,
    "Year 11": year_eleven_scores,
    "Year 12": year_twelve_scores
})

# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

In [90]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [91]:
# Create a copy of the school summary
school_spending_df = per_school_summary.copy()

In [92]:
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].replace('[\$,]', '', regex=True).astype(float)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].replace('[\$,]', '', regex=True).astype(float)

# Add the spending bins and group names
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=group_names)

# Display the updated DataFrame
print(school_spending_df)

                       School Type  Total Students  Total School Budget  \
school_name
Bailey High School      Government            4976            3124928.0
Cabrera High School    Independent            1858            1081356.0
Figueroa High School    Government            2949            1884411.0
Ford High School        Government            2739            1763916.0
Griffin High School    Independent            1468             917500.0
Hernandez High School   Government            4635            3022020.0
Holden High School     Independent             427             248087.0
Huang High School       Government            2917            1910635.0
Johnson High School     Government            4761            3094650.0
Pena High School       Independent             962             585858.0
Rodriguez High School   Government            3999            2547363.0
Shelton High School    Independent            1761            1056600.0
Thomas High School     Independent            1635            1043130.0
Wilson High School     Independent            2283            1319574.0
Wright High School     Independent            1800            1049400.0

                       Per Student Budget  Average Maths Score  \
school_name
Bailey High School                  628.0            72.352894
Cabrera High School                 582.0            71.657158
Figueroa High School                639.0            68.698542
Ford High School                    644.0            69.091274
Griffin High School                 625.0            71.788147
Hernandez High School               652.0            68.874865
Holden High School                  581.0            72.583138
Huang High School                   655.0            68.935207
Johnson High School                 650.0            68.843100
Pena High School                    609.0            72.088358
Rodriguez High School               637.0            72.047762
Shelton High School                 600.0            72.034072
Thomas High School                  638.0            69.581651
Wilson High School                  578.0            69.170828
Wright High School                  583.0            72.047222

                       Average Reading Score  % Passing Maths  \
school_name
Bailey High School                 71.008842        91.639871
Cabrera High School                71.359526        90.850377
Figueroa High School               69.077993        81.654798
Ford High School                   69.572472        82.438846
Griffin High School                71.245232        91.212534
Hernandez High School              69.186408        80.949299
Holden High School                 71.660422        89.929742
Huang High School                  68.910525        81.693521
Johnson High School                69.039277        82.062592
Pena High School                   71.613306        91.683992
Rodriguez High School              70.935984        90.797699
Shelton High School                70.257808        91.538898
Thomas High School                 69.768807        83.853211
Wilson High School                 68.876916        82.785808
Wright High School                 70.969444        91.777778

                       % Passing Reading  % Overall Passing  \
school_name
Bailey High School             87.379421          80.084405
Cabrera High School            89.074273          80.785791
Figueroa High School           82.807731          67.650051
Ford High School               82.219788          67.469880
Griffin High School            88.487738          81.335150
Hernandez High School          81.877023          66.364617
Holden High School             88.524590          78.922717
Huang High School              81.453548          66.712376
Johnson High School            81.978576          67.191766
Pena High School               86.590437          79.209979
Rodriguez High School          87.396849          79.419855
Shelton High School            86.712095          78.875639
Thomas High School             82.629969          69.480122
Wilson High School             81.296540          67.455103
Wright High School             86.666667          79.722222

                              School Size Spending Ranges (Per Student)
school_name
Bailey High School      Large (2000-5000)                      $585-630
Cabrera High School    Medium (1000-2000)                         <$585
Figueroa High School    Large (2000-5000)                      $630-645
Ford High School        Large (2000-5000)                      $630-645
Griffin High School    Medium (1000-2000)                      $585-630
Hernandez High School   Large (2000-5000)                      $645-680
Holden High School          Small (<1000)                         <$585
Huang High School       Large (2000-5000)                      $645-680
Johnson High School     Large (2000-5000)                      $645-680
Pena High School            Small (<1000)                      $585-630
Rodriguez High School   Large (2000-5000)                      $630-645
Shelton High School    Medium (1000-2000)                      $585-630
Thomas High School     Medium (1000-2000)                      $630-645
Wilson High School      Large (2000-5000)                         <$585
Wright High School     Medium (1000-2000)                         <$585

In [93]:
# Calculate averages for the desired columns
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\3503223039.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\3503223039.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\3503223039.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\3503223039.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\3503223039.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [94]:
# Assemble into DataFrame
spending_summary_df = pd.DataFrame({
    "Average Maths Score": spending_maths_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Maths": spending_passing_maths,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})
# Display results
spending_summary_df

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

## Scores by School Size

In [80]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [81]:
# Add the school size bins and group names
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins=size_bins, labels= group_names)

# Display the updated DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405,Large (2000-5000)
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791,Medium (1000-2000)
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,Large (2000-5000)
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880,Large (2000-5000)
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,Medium (1000-2000)
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,Large (2000-5000)
Holden High School,Independent,427,248087.0,581.0,72.583138,71.660422,89.929742,88.524590,78.922717,Small (<1000)
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,Large (2000-5000)
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766,Large (2000-5000)
Pena High School,Independent,962,585858.0,609.0,72.088358,71.613306,91.683992,86.590437,79.209979,Small (<1000)
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855,Large (2000-5000)
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,Medium (1000-2000)
Thomas High School,Independent,1635,1043130.0,638.0,69.581651,69.768807,83.853211,82.629969,69.480122,Medium (1000-2000)
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103,Large (2000-5000)
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222,Medium (1000-2000)

In [82]:
# Calculate averages for the desired columns grouped by "School Size"
size_maths_scores = per_school_summary.groupby("School Size")["Average Maths Score"].mean()
size_reading_scores = per_school_summary.groupby("School Size")["Average Reading Score"].mean()
size_passing_maths = per_school_summary.groupby("School Size")["% Passing Maths"].mean()
size_passing_reading = per_school_summary.groupby("School Size")["% Passing Reading"].mean()
overall_passing_size = per_school_summary.groupby("School Size")["% Overall Passing"].mean()

C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\1227745822.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_maths_scores = per_school_summary.groupby("School Size")["Average Maths Score"].mean()
C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\1227745822.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby("School Size")["Average Reading Score"].mean()
C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\1227745822.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_maths = per_school_summary.groupby("School Size")["% Passing Maths"].mean()
C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\1227745822.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby("School Size")["% Passing Reading"].mean()
C:\Users\tadak\AppData\Local\Temp\ipykernel_25356\1227745822.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_size = per_school_summary.groupby("School Size")["% Overall Passing"].mean()

In [83]:
# Assemble into DataFrame
size_summary = pd.DataFrame({
    "Average Maths Score": size_maths_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Maths": size_passing_maths,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": overall_passing_size
})

# Display results
size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

In [84]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing
type_maths_scores = per_school_summary.groupby("School Type")["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby("School Type")["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby("School Type")["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby("School Type")["% Passing Reading"].mean()
overall_passing_type = per_school_summary.groupby("School Type")["% Overall Passing"].mean()

In [85]:
# Assemble into DataFrame
type_summary = pd.DataFrame({
    "Average Maths Score": type_maths_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Maths": type_passing_maths,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": overall_passing_type
})

# Display results
print(type_summary)

             Average Maths Score  Average Reading Score  % Passing Maths  \
School Type
Government             69.834806              69.675929        84.462375
Independent            71.368822              70.718933        89.204043

             % Passing Reading  % Overall Passing
School Type
Government           83.587562          70.698993
Independent          86.247789          76.973340